worker_processes 1;

events {
  worker_connections 10240;
}

http {
  server {
    listen ${NGINX_PORT};
    location / {
      add_header Set-Cookie "${NGINX_COOKIE_NAME}=; Path=/; Expires=Thu, 01 Jan 1970 00:00:00 GMT";
      return 302 ${NGINX_REDIRECT_URI};
    }
    location /status {
      return 200 'HEALTHY';
    }
  }
}